*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 375px) and (max-width: 768px){
    #fondoNuevo{
        background-image: url(fondo/fondo3.jpg);
        background-size: cover;
        background-position-x: center;
        background-size: 100%;
        background-repeat: repeat;
        
    }
    #fondoNuevo2{
        background-image: url(fondo/fondo5.jpeg);
        background-size:cover;
        background-size: 100%;
        
        
        
    }
    .vid{
        display: flex;
        flex-direction: column;
        
    }
    #margenVideo{
        margin-top: 250px;
    }
    
    
    .video{
        width: 350px;
        
    }

    .estudiantesLista{
        margin-bottom: 100px;
    }

   

 
}




.menu{
    display: flex;
    flex-direction: row;
    
}

main{
    background-image: url(fondo/fondo2.jpg);
    background-size: cover;
    width: 100%;
    
   
}

.vid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.video{
    margin: 20px;
    
}



.tituloGaleria{
    color: brown;
}

.fot{
    width: 300px;
    margin: 5px;
    border-radius: 10px;
    
}

.tituloVideo{
    margin-top: 10px;
    text-decoration:underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.galeriaFotos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.boton-descargar{
    border: 3px solid red;
    border-radius: 5px;
    background-color: red;
    width: 100px;
    height: 30px;
    color: rgb(253, 251, 251);
    text-align: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    margin-bottom: 100px;
}

.listaNenas{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    
}

.nombresNiños{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  color: rgb(234, 20, 20);
  font-style: normal;
  font-size: 1.5rem;
  text-shadow: 2px 2px 1px rgb(12, 12, 12);

}
